/** 引用块 **/
blockquote{
    color: var(--p-color);
    position:relative;
    margin-top: 0.6rem;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 5px 5px 5px 5px;
    border-left: 7px solid var(--bqframe-color); 
    box-shadow:3px 3px 10x 0px var(--shadow-color);
    background-color: var(--bqbackground-color);
}
blockquote p{
    margin-left: 0.2em;
}
blockquote ul,
blockquote ol{
    margin-left: 0.5em;
}